#login-form {
margin-left: 36%;
 width: 80%;
}

#logsub2{
  margin-left: -65%;
}

.btn-outline-light{
margin-left: 50%;
}

.Login-button{
  margin-left: -65%;
}

/* .text-muted.form-text{
  color: whitesmoke;
  font-size: 12px;
} */