ul{
    color: black;
    margin-left: 35%;
}
.btn-outline-light{
    color: black;
    background-color: rgb(192, 191, 191);
}

.create-message-button{
    margin-left: 0%;
    background-color: rgb(69, 146, 246);
}

.like{
    margin-right: 30%;
    margin-left: 29%;
    background-color: rgb(69, 146, 246);
}