#menu {
  background-color: #8b9dc3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

h1{
  font-family: 'Major Mono Display', monospace;
  color: black;
  background-color: whitesmoke;
  margin: auto;
  vertical-align: middle;
}

div#menu{
  background-color: whitesmoke;
  align-items: center;
  position: relative;
  text-align: center;
}

.home-header{
  font-family: 'Major Mono Display', monospace;
  font-size: 95px;
  /* margin-right: %; */
  /* position: relative; */
  /* left: 20%; */
  /* right: 6%; */
}

/* .logo{
  margin-right: 25.5%;
} */