.username{
    margin-right: 38%;
    margin-left: 38%;
    font-family: 'Major Mono Display', monospace;
}

.about{
    margin-right: 65%;
    font-family: 'Major Mono Display', monospace;
}

#about-text{
    /* margin-left:%; */
    /* margin-right: 40%; */
    font-family: 'Major Mono Display', monospace;
}

.display-name{
    margin-right: 65%;
    font-family: 'Major Mono Display', monospace;
}

.password{
    margin-right: 65%;
    font-family: 'Major Mono Display', monospace;
}

.update-user{
    margin-right: 65%;
    background-color: rgb(69, 146, 246);
}

.profile-display-name{
    font-family: 'Major Mono Display', monospace;
}